In [62]:
import pandas as pd
import numpy as np
import kaggle
import customfunctions as cf
import re

## Download dataset TV Time from Kaggle 

using Kaggle API

In [2]:
kaggle.api.authenticate()
kaggle.api.dataset_download_files('oscarfry/tvtime-shows', path='./data/tvtimeshows')

df_tvtime = pd.read_csv('data/tvtimeshows/tvtimeshows.csv')

## Generate descriptive statistics

In [6]:
df_tvtime.describe(include='all')

,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons
count,1.981600e+04,19812,1.981600e+04,19816.000000,19816.000000,19816.000000,18854,19816.000000,19816,19816
unique,NaN,19479,NaN,NaN,NaN,NaN,945,NaN,18658,5300
top,NaN,***Movies are not allowed***,NaN,NaN,NaN,NaN,YouTube,NaN,https://d36rlb2fgh8cjd.cloudfront.net/default-...,"[{'number': 1, 'nb_episodes': 12}]"
freq,NaN,6,NaN,NaN,NaN,NaN,715,NaN,1159,1061
mean,2.670577e+05,NaN,1.036959e+04,376.513474,42.138423,9.467198,NaN,3.852017,NaN,NaN
std,3.733336e+05,NaN,9.396993e+04,4044.547313,27.277166,116.659625,NaN,1.008189,NaN,NaN
min,7.032700e+04,NaN,1.630000e+02,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,1.821335e+05,NaN,3.210000e+02,6.000000,25.000000,1.000000,NaN,3.630000,NaN,NaN
50%,2.875910e+05,NaN,7.800000e+02,20.000000,45.000000,1.000000,NaN,4.060000,NaN,NaN
75%,3.320820e+05,NaN,2.993250e+03,86.000000,55.000000,3.000000,NaN,4.470000,NaN,NaN
max,1.000004e+07,NaN,4.618578e+06,233167.000000,420.000000,2019.000000,NaN,5.000000,NaN,NaN

## Existem subsidiária de uma mesma Network
Exemplo: 
+ Amazon, Amazon (Japan), Amazon Prime Instant Video
+ Rede Globo, Globoplay, Globosat 

Uniques are returned in order of appearance. 
> `df_tvtime['network'].unique()`

In [80]:
# todos da amazon
df_tvtime_amazon = df_tvtime[df_tvtime['network'].str.contains('AMAZON', flags=re.IGNORECASE, regex=True, na=False)]
df_tvtime_amazon['network'].unique()

array(['Amazon', 'Amazon (Japan)', 'Amazon Prime Instant Video'],
      dtype=object)

In [79]:
df_tvtime_amazon['name'].describe() # NÃO TA DUPLICADO

count        146
unique       146
top       Hannah
freq           1
Name: name, dtype: object

In [86]:
## 20 mais populares da amazon
df_tvtime_amazon.sort_values(by='followers',ascending=False).head(20)

,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons
1229,295829,The Man in the High Castle,315725,12930,60,4,Amazon,4.70,https://dg31sz3gwrwan.cloudfront.net/poster/29...,"[{'number': 1, 'nb_episodes': 10}, {'number': ..."
6987,355567,The Boys,271129,218,60,1,Amazon,4.89,https://dg31sz3gwrwan.cloudfront.net/poster/35...,"[{'number': 1, 'nb_episodes': 8}]"
11455,280619,The Expanse,220894,9084,45,4,Amazon,4.62,https://dg31sz3gwrwan.cloudfront.net/poster/28...,"[{'number': 1, 'nb_episodes': 10}, {'number': ..."
19541,336261,Tom Clancy's Jack Ryan,216152,3023,60,2,Amazon,4.78,https://dg31sz3gwrwan.cloudfront.net/poster/33...,"[{'number': 1, 'nb_episodes': 8}, {'number': 2..."
8287,359569,Good Omens,172940,253,60,1,Amazon,4.74,https://dg31sz3gwrwan.cloudfront.net/poster/35...,"[{'number': 1, 'nb_episodes': 6}]"
14723,326791,The Marvelous Mrs. Maisel,163429,3239,55,3,Amazon,4.57,https://dg31sz3gwrwan.cloudfront.net/poster/32...,"[{'number': 1, 'nb_episodes': 8}, {'number': 2..."
2077,365026,Carnival Row,118426,82,60,1,Amazon,4.75,https://dg31sz3gwrwan.cloudfront.net/poster/36...,"[{'number': 1, 'nb_episodes': 8}]"
13616,314087,The Grand Tour (2016),114772,3383,60,4,Amazon,4.30,https://dg31sz3gwrwan.cloudfront.net/poster/31...,"[{'number': 1, 'nb_episodes': 13}, {'number': ..."
2663,300166,Sneaky Pete,87565,2667,50,3,Amazon,4.62,https://dg31sz3gwrwan.cloudfront.net/poster/30...,"[{'number': 1, 'nb_episodes': 10}, {'number': ..."
5736,357690,Hanna,73543,110,45,1,Amazon,4.66,https://dg31sz3gwrwan.cloudfront.net/poster/35...,"[{'number': 1, 'nb_episodes': 8}]"
10829,278335,Mozart in the Jungle,66611,4613,30,4,Amazon,4.15,https://dg31sz3gwrwan.cloudfront.net/poster/27...,"[{'number': 1, 'nb_episodes': 10}, {'number': ..."
9061,350553,Homecoming,60861,443,30,1,Amazon,4.17,https://dg31sz3gwrwan.cloudfront.net/poster/35...,"[{'number': 1, 'nb_episodes': 10}]"
14136,278334,Transparent,54611,2808,30,5,Amazon,4.12,https://dg31sz3gwrwan.cloudfront.net/poster/27...,"[{'number': 1, 'nb_episodes': 10}, {'number': ..."
1690,277928,Bosch,53237,1908,45,5,Amazon,4.42,https://dg31sz3gwrwan.cloudfront.net/poster/27...,"[{'number': 1, 'nb_episodes': 10}, {'number': ..."
8037,357222,Modern Love,43919,29,30,1,Amazon,4.56,https://dg31sz3gwrwan.cloudfront.net/poster/35...,"[{'number': 1, 'nb_episodes': 8}]"
14491,315321,Goliath,40066,1578,55,3,Amazon,4.40,https://dg31sz3gwrwan.cloudfront.net/poster/31...,"[{'number': 1, 'nb_episodes': 8}, {'number': 2..."
19345,317654,The Tick (2016),37455,1039,25,2,Amazon,3.98,https://dg31sz3gwrwan.cloudfront.net/poster/31...,"[{'number': 1, 'nb_episodes': 12}, {'number': ..."
13818,294801,Deutschland 83,35888,2706,45,2,Amazon,4.48,https://dg31sz3gwrwan.cloudfront.net/poster/29...,"[{'number': 1, 'nb_episodes': 8}, {'number': 2..."
9523,334147,Lore,33602,1022,50,2,Amazon,3.81,https://dg31sz3gwrwan.cloudfront.net/poster/33...,"[{'number': 1, 'nb_episodes': 6}, {'number': 2..."
17452,260485,Ripper Street,32135,1218,60,5,Amazon,4.41,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 1, 'nb_episodes': 8}, {'number': 2..."

In [58]:
df_tvtime['network'].value_counts().head(30) ### NÃO TA LIMPO  e falta uns importantes tipo HULU

YouTube                      715
Netflix                      656
Tokyo MX                     540
ABC (US)                     495
TV Tokyo                     451
NBC                          429
BBC One                      405
CBS                          393
Fuji TV                      336
FOX                          288
Rede Globo                   284
AT-X                         242
MBC                          236
Tokyo Broadcasting System    234
Channel 4                    228
BBC Two                      220
TVN                          192
SBS (KR)                     185
HBO                          179
KBS TV2                      177
Cartoon Network              176
ITV                          168
TV Asahi                     164
TF1                          159
Investigation Discovery      146
MTV                          146
Amazon                       141
Nickelodeon                  137
Discovery                    135
History                      121
Name: network, dtype: int64