In [1]:
import pandas as pd
import numpy as np
import kaggle
import customfunctions as cf

In [2]:
kaggle.api.authenticate()
kaggle.api.dataset_download_files('oscarfry/tvtime-shows', path='./data/tvtimeshows')

df_tvtime = pd.read_csv('data/tvtimeshows/tvtimeshows.csv')

In [5]:
df_tvtime.columns

Index(['id', 'name', 'followers', 'nb_rates', 'runtime', 'number_of_seasons',
       'network', 'mean_rate', 'poster_image', 'seasons'],
      dtype='object')

In [6]:
df_tvtime.describe(include='all')

,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons
count,1.981600e+04,19812,1.981600e+04,19816.000000,19816.000000,19816.000000,18854,19816.000000,19816,19816
unique,NaN,19479,NaN,NaN,NaN,NaN,945,NaN,18658,5300
top,NaN,***Movies are not allowed***,NaN,NaN,NaN,NaN,YouTube,NaN,https://d36rlb2fgh8cjd.cloudfront.net/default-...,"[{'number': 1, 'nb_episodes': 12}]"
freq,NaN,6,NaN,NaN,NaN,NaN,715,NaN,1159,1061
mean,2.670577e+05,NaN,1.036959e+04,376.513474,42.138423,9.467198,NaN,3.852017,NaN,NaN
std,3.733336e+05,NaN,9.396993e+04,4044.547313,27.277166,116.659625,NaN,1.008189,NaN,NaN
min,7.032700e+04,NaN,1.630000e+02,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,1.821335e+05,NaN,3.210000e+02,6.000000,25.000000,1.000000,NaN,3.630000,NaN,NaN
50%,2.875910e+05,NaN,7.800000e+02,20.000000,45.000000,1.000000,NaN,4.060000,NaN,NaN
75%,3.320820e+05,NaN,2.993250e+03,86.000000,55.000000,3.000000,NaN,4.470000,NaN,NaN
max,1.000004e+07,NaN,4.618578e+06,233167.000000,420.000000,2019.000000,NaN,5.000000,NaN,NaN

In [15]:
df_tvtime['number_of_seasons'][0]

2

In [14]:
df_tvtime['seasons'][0]

"[{'number': 1, 'nb_episodes': 4}, {'number': 2, 'nb_episodes': 10}]"

In [17]:
df_tvtime['network'].describe()

count       18854
unique        945
top       YouTube
freq          715
Name: network, dtype: object

In [19]:
df_tvtime['name'].describe()

count                            19812
unique                           19479
top       ***Movies are not allowed***
freq                                 6
Name: name, dtype: object

In [29]:
df_tvtime['network'].unique()

array(['Rooster Teeth', 'KBS TV2', 'Tokyo Broadcasting System',
       'Tokyo MX', 'FX', 'E-Channel', 'BR', 'CBS', 'WGN America',
       'BBC One', 'BET', 'OnStyle', 'HBO', 'Disney XD', 'History',
       'GMM One', 'Radio-Canada', 'één', 'ITV1', 'V', 'PBS', 'Rede Globo',
       'BBC Three', 'TV2', 'SBS (KR)', 'M6', 'El Trece', 'France 2',
       'FOX', 'UPN', 'Star TV', 'NBC', 'ABC', 'Amazon', 'Netflix', 'TTV',
       'Telefe', 'Nick Jr.', 'The WB', 'Das Erste', 'Peacock',
       'Canal Sony', 'Videoland (NL)', 'SBS (AU)', 'Первый канал',
       'Fuji TV', 'Syfy', 'Telecinco', 'ESPN', 'G4', 'Disney Junior',
       'Cartoon Network', 'YouTube Premium', 'ТНТ', 'TVN', 'BBC Two',
       'TV Asahi', 'iQiyi', nan, 'GNT', 'MEGA TV', 'jTBC', 'Velocity',
       'Youku', 'NRK1', 'ITV', 'ABC1', 'Viaplay', 'Mnet', 'YouTube',
       'ABC (US)', 'MBC 1', 'SIC', 'Food Network Canada', 'E!', 'YES',
       'NTV (JP)', 'Lifetime', 'Antena 3', 'Comedy Central', 'Movistar+',
       'TeleToon', 'ITV2', 'Vimeo', 'Sky Sports', 'Nine Network', 'Arte',
       'Sky Arts', 'sho.com', 'USA Network', 'Discovery', 'MTV', 'Polsat',
       'Speed', 'Rai 1', 'SBT', 'Syndication', 'EPIC TV', 'CBC (CA)',
       'FTV, Nova', 'Food Network', 'Kanal D', 'AT-X', 'Channel 5',
       'RTS Un', 'Show TV', 'TV Tokyo', 'CTV', 'NHK', 'Channel 4',
       'NovaTV', 'Colors', 'Canal+', 'Investigation Discovery', 'HLN',
       'ABC (AU)', 'Telemundo', 'SVT', 'E4', 'BBC America', 'SBS',
       'Cosmopolitan TV', 'Disney Channel', 'Comedy Central (UK)',
       'MTV Brazil', 'BBC', 'KBS', 'RAI', 'Anime OAV',
       'PlayStation Network', 'Rede Bandeirantes', 'SKY PerfecTV!',
       'NAVER tvcast', 'TVE', 'Sky Living', 'Viceland (US)', 'CNN',
       'Hallmark Channel', 'La Une', 'TV2 (NO)', 'DR1', 'Infinity', 'VOX',
       'Mega Channel', 'MTV2', 'Animax', 'Showtime', 'OCN', 'Canale 5',
       'National Geographic', 'Sony Crackle', 'CDA', 'VTM',
       'Travel Channel', 'Network Ten', 'MBS', 'MBC', 'Kids Station',
       'Mega', 'Dailymotion', 'CBBC', 'Fox Life (BR)', 'History (CA)',
       'YTV (JP)', 'Niconico', 'TLC', 'Record', 'ALT Balaji', 'TBS',
       'AMC', 'CBS All Access', 'Channel 3', 'STAR Plus', 'NOVE',
       'Movie Central', 'Nickelodeon', 'SAT.1', 'TVA', 'ABC (JA)',
       'Centric', 'The Hub', 'ZDF', 'Teletama', 'Super Channel',
       'Animal Planet', 'CW Seed', 'TNT (US)', 'WE tv', 'ANT1', 'VIER',
       'ART TV', 'oksusu', 'VH1', 'family gekijou (japan)', 'ICI Tou.tv',
       'ช่อง one', 'HGTV', 'Bravo (CA)', 'Syndicated', 'NTV', 'YTV (CA)',
       'A&E', 'Blackpills', 'Universal Channel', 'Bravo', 'RTÉ One',
       'Audience Network', 'BBC one', 'WOWOW', 'Freeform', 'nickToons',
       'Paramount Network', 'VRV', 'Space', 'קשת 12', 'France 3', 'Rai 2',
       'Sony TV', 'Starz', 'Hunan TV', 'GSN', 'Hulu', 'TF1',
       'WWE Network', 'SundanceTV', 'Spectrum', 'Oxygen', 'TV3 (NO)',
       'Xbox Video', 'France 5', 'CTV (TW)',
       'Радио-телевизија Србије (PTC)', 'TV3', 'Ion Television',
       'TV4 (SE)', 'FXX', 'Россия 1', 'Spike TV', 'ATV Türkiye',
       'TV3 (NZ)', 'TRT 1', 'TFX', 'HBO Latin America', 'Sky Uno',
       'truTV', 'Channel 5 (UK)', '6ter', 'The CW',
       'National Geographic (UK)', 'Global', 'Disney Channel (IT)', 'TVI',
       'Flooxer', 'TV Azteca', 'El Rey Network', 'Chiba TV', 'LMN',
       'FOX Türkiye (TR)', 'V LIVE', 'CTC (JA)', 'The Movie Network',
       'CMT', 'bTV', 'BBC HD', 'TV Cultura', 'Vrak.TV', 'France 4',
       'Canal de las Estrellas', 'Apple TV+', 'TBS Superstation',
       'Tencent Video', 'HDNet', 'M-Net', 'SABC1', 'Adult Swim', 'Noggin',
       'Univision', 'Zhejiang TV', 'Televisa', 'Canvas/Ketnet', 'ORTF',
       '#0', 'Multishow', 'TVP2', 'CBC (JP)', 'CTS', 'SET Metro',
       'Space (Latin America)', 'Channel 7', 'Apple Music', 'Style',
       'FYI', 'TV3 (ES)', 'Science Channel', 'TV Kanagawa',
       'NHK Educational', 'TV Pública', 'Antenne 2', 'AHC', 'CineMax',
       'Fox Family', 'TV Land', 'Dave', 'Showcase (CA)', 'ABC Family',
       'Facebook Watch', 'Super Écran', 'BNN-VARA', 'FOX Türkiye',
       'LINE TV (TH)', 'C More', 'MBN', 'Playhouse Disney',
       'travel CHANNEL', 'Discovery Family', 'The Comedy Channel',
       'RTL Television', 'IRIB TV1', 'קשת', 'HISTORY', 'Revision3',
       'Eleven', 'TMS', 'Star World', 'Seven Network', 'MBC Plus Media',
       'Italia 1', 'YouTube Red', 'Viasat3', 'Unknown', 'Esquire Network',
       'H2', 'IFC', 'SHOWTIME', 'Sky Cinema', 'ten',
       'Fox (Latin America)', 'FOX+', 'DisneyLife', 'DramaX',
       'Club Illico', 'BBC Four', 'Sony Entertainment Television', 'VPRO',
       'Universal Kids', 'רשת', 'Warner Channel', 'Disney Channel (BR)',
       '1+1', 'MTV (UK)', 'Fox8', 'OCS', 'Jiangsu TV', 'HOT', 'Mango TV',
       'Outdoor Channel', 'ReelzChannel', 'Omroep MAX',
       'My Nickelodeon Junior', 'Slash', 'Dragon TV', 'RTBF Webcréation',
       'DC Universe', 'Go90', 'Destination America', 'ORF 1',
       'Oprah Winfrey Network', 'Kanal 5 (SE)', 'MBC Drama', 'Line TV',
       'OutTV', 'CBS Reality (UK)', 'Real Time', 'SET TV',
       'Sky Cinema (IT)', 'Alpha TV', 'TVP1', 'BluTV', 'SUN-TV', '2be',
       'Toon Disney', 'Kanal 5 (DK)', 'MSNBC', 'XBOX LIVE', 'Life OK',
       'SET MAX', 'AOL', 'СТС', 'Paramount Comedy', 'Fuse', 'Sun TV',
       'UKTV History', 'BS11', 'Maxdome', 'LOGO', 'Omni', 'AVROTROS',
       'ABS-CBN Broadcasting Company', 'Televisió de Catalunya',
       'Bounce TV', 'Stöð 2', 'TVNZ', 'Toei Channel', 'Locomotion',
       'MusiquePlus', 'W9', 'RCN TV', 'MBC Every1', 'Rai Gulp', 'TVO',
       'Stan', 'GTV', 'Nat Geo Wild', 'sky ARTS 2', 'Česká televize',
       'Slice', 'ATV (BE)', 'MCOT', 'Sky1', 'HBO Canada', 'PPTV', 'YTV',
       'Disney+', 'Boomerang', 'Kanal 7', 'Hotstar', 'TNT Serie', 'ATV',
       'HBO Asia', 'ShowMax', 'B92', 'TVP SA', 'MTV (FR)', 'Dropout',
       'НТВ', 'Fullscreen', 'Hrvatska radiotelevizija', 'FOX Reality',
       'KRO-NCRV', 'W Network', 'RMC Story', 'Discovery Channel (CA)',
       'RTBF', 'AXN', 'Action', 'YLE', 'TV 2', 'NRJ 12', 'Rai 3',
       'DIY Network', 'ProSieben', 'KBS2', 'PTS', 'Anime Network',
       'Comedy (CA)', 'Playboy TV', 'Smithsonian Channel', 'FOX Sports 1',
       'TVP 2', 'Prva Srpska Televizija', 'BBC Prime', 'TV 2 Zulu',
       'BBC TWO', 'Fox Life (IT)', 'Movie', 'MTV Italia',
       'FUNimation Channel', 'Fox España', 'TvNorge', 'Studio 4',
       'RTL Klub', 'BBC Five', 'RTL 4', 'Smithsonian CHANNEL',
       'ONDirecTV (Latin America)', 'KBS TV1', 'Mondo TV', 'AXS TV',
       'Jeuxvideo.com', 'Crackle', 'AVRO', 'City', 'CCTV',
       'ערוץ הילדים\u200e', 'TVBS Entertainment Channel', 'CBeebies',
       'NRK3', 'TV 2 Charlie', 'Challenge', 'TV 3', 'NickToons', 'La 1',
       'Canal Once', 'Canal J', 'Hum TV', 'Anhui TV', 'Pivot',
       'Sky Atlantic (IT)', 'Zee TV', 'Nickelodeon (Latin America)',
       'RTP1', 'CITV', 'HGTV Canada', 'TVB',
       'Crime & Investigation Network (AU)', 'ESPN2', 'TV One (US)',
       'NET5 & VT4', 'TNT', 'W', 'Sportsnet Ontario', 'Antena 1',
       'TV3 (SE)', 'Gulli', 'Caracol TV', '360', 'TTV (PL)',
       'Cartoon Network (UK)', 'itv', 'rocketjump.com',
       'Kyushu Asahi Broadcasting (KBC)', 'Echorouk TV', 'Family (CA)',
       'AXStv', 'laSexta', 'addikTV', 'TVK', 'DiSNEY XD', 'Playboy',
       'Globoplay', 'MTV Latin America', 'Fox Kids', 'Fox Channel (BR)',
       'TNT Latin America', 'HBO Europe', 'food network',
       'Nico Nico Douga', 'Schweizer Fernsehen', 'BNN', 'nickelodeon',
       'REELZ', 'BNN (NL)', 'BNT1', 'Fox Channel (IT)', 'Cuatro',
       'puhutv', 'S4/C', 'Showcase (AU)', 'Yahoo! Screen',
       'Fox Channel (UK)', 'TV8 (IT)', 'KPN Presenteert',
       'Nicktoons Network', 'DiSNEY CHANNEL', 'Rai Uno', 'CGV',
       'Bravo (NZ)', 'Nagoya Broadcasting Network', 'WDR', 'MBC 4',
       'Tros', 'WWE Classics on Demand', 'CTC (RU)', 'CSTV', 'XtvN',
       'CBC', 'Family CHRGD', 'Numéro 23', 'AlloCiné', 'UP TV',
       'Kyushu Asahi Broadcasting', 'Arena', 'BBC iPlayer', 'Acorn TV',
       'Much (CA)', 'RTP Play', 'Prime (NZ)', 'Encore', 'Canal 5',
       'www.startrekofgodsandmen.net', 'LCI', 'TV Aichi', 'Canal Plus',
       'RaiPlay', 'Fox Crime', 'La7', 'TV One (NZ)', 'Channel A',
       'Comédie+', 'Daum tvPot', 'Chérie 25', 'TV Net', 'tbs', 'Five',
       'TQS', 'Studio+', 'The 5 Network', 'Playz', 'TMC', 'TV 2 Zebra',
       'ICTV', 'UKTV Gold', 'Twitch', 'Discovery Health',
       'RMC Découverte', 'Séries+', 'GMA', 'hulu',
       'Kyoto Broadcasting System', 'ITVBe', 'TEENick', 'NDTV India',
       'FTV', 'Arte Creative', 'Spike (NL)', 'Fusion', 'Canal+ (FR)',
       'Cooking Channel', 'CraveTV', 'NRK Super', 'Kansai TV', 'TV5 (CA)',
       '7mate', 'SBS Plus', 'Bandai Channel', 'TV Osaka', 'D8', 'CW',
       'RTL 5', 'La Deux', 'KiKa', 'Télé', 'Cbbc', 'LifeStyle',
       'Disney Channel (FR)', 'NET 5', 'América TV', 'Canal+ (ES)', 'TV4',
       'téva', 'Canal D', 'sky LIVING', 'Family Gekijou', 'yamato video',
       'Radio Canada', 'Vidol', 'Quest', 'CTV (JP)', 'EBS',
       'TBS (Latin America)', 'Sky Arte', 'SUNDANCE TV', 'C8', 'Kanal 9',
       'ETB2', 'Fox Action Movies', 'PRO TV', 'Sun Television',
       'Disney Channel (UK)', 'Munhwa Broadcasting Corporation (MBC)',
       'Nolife', 'Sky Atlantic (UK)', 'Five US',
       'Comedy Central (Latin America)', 'RCTV', 'ctv', 'LifeStyle HOME',
       'CNBC', 'TV3 (IE)', 'The Anime Network', 'Canal 13', 'BS-i',
       'Space (Brasil)', 'Télé-Québec', 'ZDFneo', 'Amazon (Japan)',
       'Virgin 1', 'EPIX', 'Family Gekijo', 'BT Sport 1', 'RTÉ Two',
       'TrueVisions', 'msnbc', 'RTP2', 'Yomiuri TV', 'BOOMERANG', 'TV 4',
       'family', 'DMAX (IT)', 'Jetix', 'SBS 6', 'TV Brasil', 'KKTV',
       'MTV (CA)', 'BS Fuji', 'Gloob', 'FX (Latin America)',
       'The Weather Channel', 'TVA (JP)', 'The Family Channel', 'TCM',
       'MTV (PL)', 'Comic-Con HQ', 'Nick at Nite', 'Canal 9 (AR)',
       'DMAX (DE)', 'halowaypoint.com', 'Abu Dhabi TV', 'Servus TV',
       'NT1', 'STV (UK)', 'Sky Travel', 'Trend E',
       'Crime & Investigation Network (Europe)',
       'National Geographic Channel', 'BRTN', 'TV Saitama', 'Skai',
       'ABC2', 'Movie Network', 'Discovery Channel (Canada)', 'Olive',
       'BBC FOUR', 'Play More', 'Rede Manchete', 'propeller', 'Channel 2',
       'DirecTV Japan', 'BET+', 'European Broadcasting Union (EBU)',
       'Discovery Channel (UK)', 'SRC', 'TYT Network',
       'Biography Channel', 'Arirang TV', 'Coture', 'Television Maldives',
       'Ovation TV', 'HBO Max', 'KBS Kyoto', 'ABC3', 'NCRV', 'Dlife',
       'NECO', 'Sky Deutschland', 'ITV4', 'KIDS STATION', 'mynetworkTV',
       'HKTV', 'Rúv', 'RTL', 'HBO Nordic', 'Duna TV', 'here!',
       'Indus Music', 'Style TV', 'RaiUno', 'Canal+ Cyfrowy', 'TV5 Monde',
       'HBO Magyarország', 'Geo TV', 'OVA', 'WGN', 'ITV Encore',
       'TV Nova', 'LifeStyle FOOD', 'VODO', 'TVP', 'TNK', 'Current TV',
       'MTV España', 'TV ONE', 'Danmarks Radio', 'Sky Box Office', 'MTV3',
       'Russia Today', 'Shudder', 'Bravo (UK)', 'SVT1', 'TV11',
       'TV Setouchi', 'MBC Every 1', 'TBN (Trinity Broadcasting Network)',
       'Televisión de Galicia', 'Prima televize', 'Pop TV', 'Televen',
       'Venevision', 'Doordarshan National', 'Funny or Die',
       'Travel + Escape', 'OLN', 'Telecinco 5', 'Science',
       'BYU Television', 'Pop', 'Tele 5', 'Tokai TV', 'Really', 'More4',
       'BT Sport 2', 'BBC three', 'WB', 'Crunchyroll', 'Fuji Television',
       'SRF 1', 'Інтер', 'Sjónvarp Símans', 'Deutsche Welle TV',
       'Canal Brasil', 'TNT DRAMA', 'TELEMUNDO', 'The Sportsman Channel',
       'starz', 'NDR', 'Internet', 'TNT Brasil', 'La 2', 'Radio Bremen',
       'Disney Channel (Latin America)', 'Discovery Channel', 'EO',
       'Epsilon TV', 'Puls 4', 'Discovery MAX', 'NPO 3', 'DRAMAcube',
       'RTF Télévision', 'Planète+', 'TV8', 'NFL Network', 'Seeso',
       'Life Network', 'iTunes', 'Disney Channel (DE)', 'sky SPORTS 1',
       'ITV3', 'NBCSN', 'La sexta', 'FUNIMATION CHANNEL', 'Al Arabiyya',
       'NHK Animax', 'WEB', 'SkyPerfecTV', 'The Zeus Network',
       'lifetime movie network', 'ViuTV', 'Versus', 'UKTV Yesterday',
       'Viceland (CA)', 'RTL 2', 'The Box', 'Pay-Per-View', 'Ztélé',
       'DR Ramasjang', 'Weather Channel', 'Discovery Kids',
       'Snapchat Originals', 'TV8 (SE)', 'cloo', 'Veronica', 'BBC News',
       'Sky Witness', 'fyi,', 'SWR', 'Discovery Turbo', 'NBC Universo',
       '5Star', 'PBS Kids Sprout', 'Viva', 'Red Bull TV', 'STAR Vijay',
       'CBC (EG)', 'nick@nite', 'Rai 4', 'La5', 'STAR One', 'RTÉjr',
       'KRO', 'Sab TV', 'ABC4Kids', 'TV6', 'Super!', 'Dark',
       'TENNIS CHANNEL', 'hulu Japan', 'amc', 'RTL Televizija',
       '+Globosat', 'Lifetime (UK)', 'TVBS', 'La Uno (TVE1)',
       'TVS Sydney', 'Československá televize', 'Eros Now', 'DR2',
       'DramaH', 'SVTB', 'CTV (CN)', 'HBO Polska', 'Qatar TV',
       'Shenzhen TV', 'Golf Channel', 'TRT Türk', 'ערוץ 10', 'VARA',
       'DR3', 'NBA TV', 'France Ô', 'Southern Cross Ten', 'DTOUR',
       'Watch', 'MCE TV (Ma Chaîne Étudiante)', 'VRT', '24',
       'RAI Fiction', 'Planète+ (Canada)', 'Cartoon Network Australia',
       '???', 'GMA Network', 'CMT Pure Country', 'Joi', 'TIMvision',
       'sky MOVIES FAMILY', 'Discovery Channel (AU)',
       'Chubu-Nippon Broadcasting', 'Fox Business', 'Play UK',
       'Fox 1 (Brazil)', 'Ki.Ka', 'Smithsonian Channel (CA)', 'Now TV',
       'FX (BR)', 'Amazon Prime Instant Video', 'BRB International',
       'Kanal 4 (DK)', 'BTV', 'RTL II', 'Nippon Television',
       'Cartoon Hangover', 'Yahoo! Japan', 'SOAPnet', 'Chilevisión',
       'KBS World', 'nick jr.', 'inDEMAND'], dtype=object)

In [35]:
"Netflix" in df_tvtime['network']

False

In [34]:
df_tvtime.loc[df_tvtime['network'] == "Netflix"]

,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons
40,360992,The Disappearance of Madeleine McCann,38412,32,55,1,Netflix,4.60,https://dg31sz3gwrwan.cloudfront.net/poster/36...,"[{'number': 1, 'nb_episodes': 8}]"
44,364178,The Magic Order,266,0,0,1,Netflix,0.00,https://d36rlb2fgh8cjd.cloudfront.net/default-...,"[{'number': 1, 'nb_episodes': 6}]"
120,353964,Watership Down (2018),8358,52,50,1,Netflix,4.75,https://dg31sz3gwrwan.cloudfront.net/poster/35...,"[{'number': 1, 'nb_episodes': 4}]"
132,357927,Trigger Warning with Killer Mike,1461,4,25,1,Netflix,3.95,https://dg31sz3gwrwan.cloudfront.net/poster/35...,"[{'number': 1, 'nb_episodes': 6}]"
192,340923,Netflix Stand Up Specials,646,9,60,8,Netflix,2.87,https://dg31sz3gwrwan.cloudfront.net/poster/34...,"[{'number': 2012, 'nb_episodes': 2}, {'number'..."
...,...,...,...,...,...,...,...,...,...,...
19640,339602,Seven Seconds,76991,2451,60,1,Netflix,4.61,https://dg31sz3gwrwan.cloudfront.net/poster/33...,"[{'number': 1, 'nb_episodes': 10}]"
19667,342659,Pinky Malinky,2662,0,10,3,Netflix,3.62,https://dg31sz3gwrwan.cloudfront.net/poster/34...,"[{'number': 1, 'nb_episodes': 28}, {'number': ..."
19694,353766,The Devil Next Door,2584,0,45,1,Netflix,4.91,https://dg31sz3gwrwan.cloudfront.net/poster/35...,"[{'number': 1, 'nb_episodes': 5}]"
19774,354735,Daybreak (2019),78219,17,45,1,Netflix,4.73,https://dg31sz3gwrwan.cloudfront.net/poster/35...,"[{'number': 1, 'nb_episodes': 10}]"
19788,348653,Green Eggs and Ham,1165,0,30,1,Netflix,4.57,https://dg31sz3gwrwan.cloudfront.net/poster/34...,"[{'number': 1, 'nb_episodes': 13}]"

In [36]:
df_tvtime.loc[df_tvtime['name'] == "Daybreak (2019)"]

,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons
19774,354735,Daybreak (2019),78219,17,45,1,Netflix,4.73,https://dg31sz3gwrwan.cloudfront.net/poster/35...,"[{'number': 1, 'nb_episodes': 10}]"

In [39]:
df_tvtime.loc[df_tvtime['name'] == "Stranger Things"]

,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons
5789,305288,Stranger Things,4016670,161986,50,4,Netflix,4.81,https://dg31sz3gwrwan.cloudfront.net/poster/30...,"[{'number': 1, 'nb_episodes': 8}, {'number': 2..."