In [1]:
import pandas as pd
import re

In [2]:
df_tvstatus = pd.read_csv('status/metacritic.csv')

In [3]:
df_tvstatus.describe(include='all')

             name    season      status tv_network          ano
count        4139      2296        3228       4139  4139.000000
unique       2221       201        1904        100          NaN
top     The Voice  SEASON 2  Miniseries    Netflix          NaN
freq           11       734          88        799          NaN
mean          NaN       NaN         NaN        NaN  2016.553999
std           NaN       NaN         NaN        NaN     1.951730
min           NaN       NaN         NaN        NaN  2013.000000
25%           NaN       NaN         NaN        NaN  2015.000000
50%           NaN       NaN         NaN        NaN  2017.000000
75%           NaN       NaN         NaN        NaN  2018.000000
max           NaN       NaN         NaN        NaN  2019.000000

In [10]:
df_tvstatus['status'].unique()

array(['Renewed 5/13', 'Renewed 5/9', 'Canceled 1/10 after 2 eps aired',
       ..., 'Delayed and moving from Pop to Shudder',
       'S3 renewal on 6/19; S4 renewal on 2/21',
       'Renewed for a 7th season on 7/24'], dtype=object)

In [9]:
df_tvstatus.dtypes

name          object
season        object
status        object
tv_network    object
ano            int64
dtype: object