In [1]:
import pandas as pd
import numpy as np

# Carregando e processando os dados

In [26]:
df_tv_shows = pd.read_csv('tvshowsfinals.csv')
df_tv_shows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      2006 non-null   object
 1   changed_network           2006 non-null   float64
 2   status                    1342 non-null   object
 3   tv_network                2006 non-null   object
 4   metacritc_last_info_year  2006 non-null   int64
 5   tvtime_followers          2006 non-null   float64
 6   tvtime_rate               2006 non-null   float64
 7   no_seasons                1337 non-null   float64
 8   eps_duration              2006 non-null   object
 9   age_rating                828 non-null    object
 10  imdb_rate                 2006 non-null   float64
 11  rotten_tomatoes_rate      2006 non-null   float64
 12  released_year             945 non-null    float64
 13  awards_won                2006 non-null   float64
 14  awards_nominated          2006 non-null   float64
dtypes: float64(9), int64(1), object(5)
memory usage: 235.2+ KB

## Removendo dados sem status

In [27]:
df_tv_shows_clean = df_tv_shows[~df_tv_shows['status'].isnull()] 
df_tv_shows_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1342 entries, 0 to 2005
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      1342 non-null   object
 1   changed_network           1342 non-null   float64
 2   status                    1342 non-null   object
 3   tv_network                1342 non-null   object
 4   metacritc_last_info_year  1342 non-null   int64
 5   tvtime_followers          1342 non-null   float64
 6   tvtime_rate               1342 non-null   float64
 7   no_seasons                1046 non-null   float64
 8   eps_duration              1342 non-null   object
 9   age_rating                643 non-null    object
 10  imdb_rate                 1342 non-null   float64
 11  rotten_tomatoes_rate      1342 non-null   float64
 12  released_year             689 non-null    float64
 13  awards_won                1342 non-null   float64
 14  awards_nominated          1342 non-null   float64
dtypes: float64(9), int64(1), object(5)
memory usage: 167.8+ KB

## Computando dummies para dados categoricos

In [31]:
df_eps_duration_dummies = pd.get_dummies(df_tv_shows_clean['eps_duration'], prefix='duration')
df_network_dummies = pd.get_dummies(df_tv_shows_clean['tv_network'])
print(df_eps_duration_dummies.head())
df_network_dummies.head()

   duration_long  duration_normal  duration_short
0              0                1               0
2              0                1               0
5              0                1               0
6              0                1               0
7              0                1               0

,ABC,AMAZON,AMC,APPLE,CBS,DISNEY,FOX,FREEF,FX,HBO,...,SHOWTIME,STRZ,SYFY,TBS,THE CW,TNT,TVL,USA,YHOO,YT
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Juntando dummies com os dados

In [32]:
df_tv_shows_final = pd.concat([df_tv_shows_clean, df_eps_duration_dummies, df_network_dummies], axis=1)
df_tv_shows_final.drop(columns=['name', 'age_rating', 'released_year', 'metacritc_last_info_year', 'eps_duration', 'tv_network'], inplace=True)
df_tv_shows_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1342 entries, 0 to 2005
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   changed_network       1342 non-null   float64
 1   status                1342 non-null   object
 2   tvtime_followers      1342 non-null   float64
 3   tvtime_rate           1342 non-null   float64
 4   no_seasons            1046 non-null   float64
 5   imdb_rate             1342 non-null   float64
 6   rotten_tomatoes_rate  1342 non-null   float64
 7   awards_won            1342 non-null   float64
 8   awards_nominated      1342 non-null   float64
 9   duration_long         1342 non-null   uint8
 10  duration_normal       1342 non-null   uint8
 11  duration_short        1342 non-null   uint8
 12  ABC                   1342 non-null   uint8
 13  AMAZON                1342 non-null   uint8
 14  AMC                   1342 non-null   uint8
 15  APPLE                 1342 non-null   uint8
 16  CBS                   1342 non-null   uint8
 17  DISNEY                1342 non-null   uint8
 18  FOX                   1342 non-null   uint8
 19  FREEF                 1342 non-null   uint8
 20  FX                    1342 non-null   uint8
 21  HBO                   1342 non-null   uint8
 22  HULU                  1342 non-null   uint8
 23  IFC                   1342 non-null   uint8
 24  MTV                   1342 non-null   uint8
 25  NBC                   1342 non-null   uint8
 26  NETFLIX               1342 non-null   uint8
 27  SHOWTIME              1342 non-null   uint8
 28  STRZ                  1342 non-null   uint8
 29  SYFY                  1342 non-null   uint8
 30  TBS                   1342 non-null   uint8
 31  THE CW                1342 non-null   uint8
 32  TNT                   1342 non-null   uint8
 33  TVL                   1342 non-null   uint8
 34  USA                   1342 non-null   uint8
 35  YHOO                  1342 non-null   uint8
 36  YT                    1342 non-null   uint8
dtypes: float64(8), object(1), uint8(28)
memory usage: 141.5+ KB