In [29]:
import pandas as pd
import numpy as np
import kaggle
import re

In [30]:
kaggle.api.authenticate()

# https://www.kaggle.com/oscarfry/tvtime-shows?select=tvtimeshows.csv
kaggle.api.dataset_download_files('oscarfry/tvtime-shows', path='./data/tvtimeshows', unzip = True)

# https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney 
kaggle.api.dataset_download_files('ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney', path='./data/streamings', unzip = True)

# https://www.kaggle.com/unanimad/emmy-awards
kaggle.api.dataset_download_files('unanimad/emmy-awards', path='./data/awards', unzip = True)]

# https://www.kaggle.com/unanimad/golden-globe-awards
kaggle.api.dataset_download_files('unanimad/golden-globe-awards', path='./data/awards' , unzip = True)

SyntaxError: invalid syntax (<ipython-input-30-e2e030d6a1b1>, line 10)

In [31]:
df_tvtime = pd.read_csv('data/tvtimeshows/tvtimeshows.csv')
# df_tvtime.head()

df_streamings = pd.read_csv('data/streamings/tv_shows.csv')
# df_streamings.head()

df_award_emmy = pd.read_csv('data/awards/the_emmy_awards.csv')
# df_award_emmy.head()

df_award_goldenglobe = pd.read_csv('data/awards/golden_globe_awards.csv')
# df_award_goldenglobe.head()

In [32]:
df_tvstatus = pd.read_csv('status/metacritic.csv')
df_tvstatus.head()

,name,season,status,tv_network,ano
0,20/20,SEASON 36,Renewed 5/13,ABC,2013
1,America's Funniest Home Videos,SEASON 24,Renewed 5/9,ABC,2013
2,The Assets,NaN,Canceled 1/10 after 2 eps aired,ABC,2013
3,The Astronaut Wives Club,Starts tbd,Delayed to 2015 for creative reasons,ABC,2013
4,The Bachelor,SEASON 18,Renewed 5/9,ABC,2013

In [33]:
def networks_more_popular(df_tt, networks): 
    column_names = list(df_tt.columns)
    df_most_popular = pd.DataFrame(columns = column_names)
    for i in networks:
        df = df_tt[df_tt['tv_network'].str.contains(i, flags=re.IGNORECASE, regex=True, na=False)]
        df_most_popular = df_most_popular.append(df,ignore_index=True)
        df_most_popular['tv_network'] = np.where(df_most_popular['tv_network'].str.contains(i, flags=re.IGNORECASE, regex=True, na=False),i,df_most_popular['tv_network'] )
    return df_most_popular

In [34]:
popular_networks = [ "ABC", "CBC", "NBC", "NETFLIX", "AMAZON", "DISNEY", "HULU", "HBO", "CRUNCHYROLL", "GLOBO", "APPLE", "FOX", "MTV",'FX','CBS','SYFY','THE CW','FREEF','TNT','IFC','STRZ','TVL','SHOWTIME','AMC','USA']
df_tvstatus_popular = networks_more_popular(df_tvstatus,popular_networks)

In [35]:
def standardize_status(df): 
    column_names = list(df.columns)
    column_names.append('changed_network')
    df_clean = pd.DataFrame(columns = column_names)
    df_clean = df
    df_clean['changed_network'] = False

    #canceled
    df_clean['status'] =  np.where(df_clean['status'].str.contains('CANCELED', flags=re.IGNORECASE, regex=True, na=False),'CANCELED',df_clean['status'] )
    df_clean['status'] =  np.where(df_clean['status'].str.contains('order rescinded', flags=re.IGNORECASE, regex=True, na=False),'CANCELED',df_clean['status'] )
    df_clean['status'] =  np.where(df_clean['status'].str.contains('Likely to end', flags=re.IGNORECASE, regex=True, na=False),'CANCELED',df_clean['status'] )
    df_clean['status'] =  np.where(df_clean['status'].str.contains('won\'t air', flags=re.IGNORECASE, regex=True, na=False),'CANCELED',df_clean['status'] )

    #renewed
    df_clean['status'] =  np.where(df_clean['status'].str.contains('Renew' , flags=re.IGNORECASE, regex=True, na=False),'RENEWED',df_clean['status'] )
    df_clean['status'] =  np.where(df_clean['status'].str.contains('order' , flags=re.IGNORECASE, regex=True, na=False),'RENEWED',df_clean['status'] )

    #renewed but changed network
    df_clean.loc[df_clean['status'].str.contains('mov' , flags=re.IGNORECASE, regex=True, na=False),'changed_network'] = True
    df_clean['status'] =  np.where(df_clean['status'].str.contains('mov' , flags=re.IGNORECASE, regex=True, na=False),'RENEWED',df_clean['status'] )  

    #delayed
    df_clean['status'] =  np.where(df_clean['status'].str.contains('Delayed' , flags=re.IGNORECASE, regex=True, na=False),'DELAYED',df_clean['status'] )

    #end
    df_clean['status'] =  np.where(df_clean['status'].str.contains('Ending' , flags=re.IGNORECASE, regex=True, na=False),'END',df_clean['status'] )
    df_clean['status'] =  np.where(df_clean['status'].str.contains('ended' , flags=re.IGNORECASE, regex=True, na=False),'END',df_clean['status'] )
    df_clean['status'] =  np.where(df_clean['status'].str.contains('Final season' , flags=re.IGNORECASE, regex=True, na=False),'END',df_clean['status'] )
    df_clean['status'] =  np.where(df_clean['status'].str.contains('miniseries' , flags=re.IGNORECASE, regex=True, na=False),'END',df_clean['status'] )

   # Não tem Info
    nationality = ['Brazilian' , 'Spanish', 'German', 'Korean', 'Japanese', 'Swedish', 'French', 'Argentinian', 'Austalian', 'British', 'Belgian', 'Polish', 'Chinese', 'Italian', 'Mexican', 'Indian', 'Colombian', 'Thai', 'Taiwanese', 'Turkish', 'Norwegian', 'Lebanese', 'Israeli', 'Arabic', 'Dutch', 'Argentine','UK','Irish','USA']

    for i in nationality:
       df_clean['status'] =  np.where(df_clean['status'].str.contains(i , flags=re.IGNORECASE, regex=True, na=False),'NAN',df_clean['status'] ) 

    return(df_clean)

In [36]:
df_tvstatus_popular_cleaning = standardize_status(df_tvstatus_popular)
df_tvstatus_popular_cleaning.head()

,name,season,status,tv_network,ano,changed_network
0,20/20,SEASON 36,RENEWED,ABC,2013,False
1,America's Funniest Home Videos,SEASON 24,RENEWED,ABC,2013,False
2,The Assets,NaN,CANCELED,ABC,2013,False
3,The Astronaut Wives Club,Starts tbd,DELAYED,ABC,2013,False
4,The Bachelor,SEASON 18,RENEWED,ABC,2013,False

In [37]:
# df_tvstatus_popular_cleaning['tv_network'].head()

In [38]:
df_tvstatus_popular_cleaning['status'].unique()

array(['RENEWED', 'CANCELED', 'DELAYED', nan,
       '1st season in ABC primetime',
       'Season cut to 10 episodes on 10/23', 'END',
       'New version of classic game show', 'Postponed to summer',
       'Pulled from schedule on 3/29 after 5 episodes',
       'Pulled from schedule 1/4 (4 eps unaired)',
       'Banished to Saturdays effective 7/8',
       "Sneak preview aired in March;  returns later in '18",
       'Fate uncertain; not included in 2014-15 schedule',
       'Pulled from schedule on 10/18',
       'Pulled from schedule 2/5; 7 eps unaired',
       'Not on schedule; likely will never air', 'Variety show', 'NAN',
       '2nd season already in production',
       'Continuation of 2000-07 WB/CW series', 'Canadian series', 'Anime',
       'Philippine series', 'Two-part season (part 2 date is tbd)',
       'Documentary series', 'Both seasons will stream at once',
       'Australian series', "Revival of classic children's show",
       'Animated series', 'Finnish series', 'Animated',
       'Cancellation confirmed 11/26/19', 'S4 announced on 6/18/19',
       'South African series', 'Two seasons picked up', 'Danish series',
       '2nd season in development', 'Russian series',
       'Potential 6th season on hold', 'Anime; rescheduled from April',
       'Anthology series', '3rd season unlikely (esp. in near future)',
       'fka untitled Mindy Kaling comedy', 'First new season in 6 years',
       'fka untitled Woody Allen series',
       'S2 confirmed on 8/25/17; will air in 2019', 'Renwed 9/13/18',
       'Project in jeopardy due to Ed Westwick scandal',
       '3rd season of National Treasure anthology', 'Monthly anthology',
       'Now a Hulu exclusive in the U.S.',
       'Final 10-ep. 7th season in summer 2014',
       'Returns after a 10-year absence', 'Will likely air in the fall',
       'Previously picked up for a 2nd season', 'Returns on 2/14',
       'Short (7-episode) season;  S8 to air in 2019',
       'Alternate version released as an app in fall 2017',
       '(4th season on HBO)', 'Reboot of 1980s anthology series',
       '12-episode mini-season', 'Last aired on Fox in 2009',
       'Production halted at 13 eps; off sched. after 12/3',
       'In negotiations to return for 2017-18',
       'Revival of the classic dating  show', '8th season announced 2/16',
       "Not on Fox's 2017-18 sched; presumed done",
       "Won't be back in 2017, but could return in 2018",
       'No plans to revive the show again as of 5/14',
       "Not included in Fox's 2019-20 plans",
       'Pulled from schedule after 1/15', 'Game show',
       'Will air in 2015-16 season', 'Short (6-episode) season',
       'Short season (8 episodes)',
       'A potential 2nd season is in development',
       'S3 (Katrina) will now start in 2018-19',
       'Rare fall season airs exclusively on CBS All Access',
       'Pulled from  schedule on 4/19 with 5 eps unaired',
       'CBS All-Access', 'Celebrity edition',
       'Banished to Saturdays effective 5/4',
       'Exclusive to CBS All Access', 'Syfy will air at least 2 seasons',
       'Officially not progressing as a series 3/10',
       'Syfy will air S1 & S2 of the web series',
       '3rd season picked up by CW on 5/31/19',
       "fka One Day She'll Darken", 'Sequel to The Spoils of Babylon',
       'New title', 'Confirmed as a 1-season show prior to airing',
       'Starz pulled out 3/2; may go elsewhere', 'American debut',
       'Continuation of 1990-91 ABC series',
       'Production halted as of June 2018',
       'Will not return for a 2nd season',
       '7 eps to air in 2014, final 7 in spring 2015', 'Anthology',
       'Miniseres'], dtype=object)

In [39]:
df_tvstatus_popular_cleaning[df_tvstatus_popular_cleaning['name'].str.contains('anne with an e', flags=re.IGNORECASE, regex=True, na=False)]

,name,season,status,tv_network,ano,changed_network
649,Anne With an E,NaN,RENEWED,NETFLIX,2016,False
724,Anne With an E,SEASON 2 starts tbd 2018,NaN,NETFLIX,2017,False
898,Anne With an E,SEASON 2,RENEWED,NETFLIX,2018,False
1168,Anne With an E,SEASON 3,CANCELED,NETFLIX,2019,False

In [40]:
df_tvstatus[df_tvstatus['status'].str.contains('order', flags=re.IGNORECASE, regex=True, na=False)]

,name,season,status,tv_network,ano
331,The Spoils of Babylon,NaN,Sequel ordered 7/7; will air in summer 2015,IFC,2013
576,Blunt Talk,Starts 8/22,2nd season already ordered,STRZ,2014
633,Fear the Walking Dead,tbd August,Two seasons ordered on 3/9/15,AMC,2014
1060,Blunt Talk,NaN,2nd season already ordered,STRZ,2015
1065,Brothers in Atlanta,starts tbd,Series order rescinded on 1/22,HBO,2015
1493,Vice Principals,NaN,Order is for 2 seasons; will end after that,HBO,2016
1514,Black Mirror,SEASON 3,Two seasons (S3 & S4) ordered by Netflix,Netflix,2016
1565,Skylanders Academy,NaN,Original order is for 2 seasons,Netflix,2016
1584,The Grand Tour,NaN,Initial order is for 3 seasons,Amazon Prime,2016
1599,Chance,NaN,Initial order is for 2 seasons,Hulu,2016
1645,Channel Zero,NaN,Anthology; 2 seasons ordered,SYFY,2016
2258,The Marvelous Mrs. Maisel,NaN,Initial order is for 2 seasons; S3 renewal on ...,Amazon Prime Video,2017
2308,The Alienist,NaN,Sequel miniseries ordered 8/16/18,TNT,2017
2347,Counterpart,NaN,Initial order is for 2 seasons,STRZ,2017
2515,X Company,NaN,Original order is for 3 seasons,OVAT,2017
2800,Chilling Adventures of Sabrina,NaN,Initial order is for 2 seasons,Netflix,2018
2942,The Rise of Phoenixes,NaN,Chinese series; 70-episode order,Netflix,2018
3038,Homecoming,NaN,Initial order is for 2 seasons,Amazon Prime Video,2018
3142,Dirty John,NaN,Initial order is for 2 seasons; moving to USA,BRAV,2018
3346,All Rise,NaN,Full-season order on 10/22; renewed 5/7,CBS,2019
3350,Bob ♥ Abishola,NaN,Full-season order on 10/22; renewed 5/7,CBS,2019
3353,Carol's Second Act,NaN,Full-season order on 10/22; canceled 5/7,CBS,2019
3378,The Unicorn,NaN,Full-season order on 10/22; renewed 5/7,CBS,2019
3741,The Politician,NaN,Initial order is for 2 seasons,Netflix,2019
3848,Central Park,NaN,Initial order is for 2 seasons,Apple TV+,2019
3857,The Morning Show,NaN,Initial order is for 2 seasons,Apple TV+,2019
3924,Solar Opposites,NaN,Animated; initial order is for 2 seasons,Hulu,2019

In [41]:
df_tvstatus_popular_cleaning[df_tvstatus_popular_cleaning['changed_network'] == True]

,name,season,status,tv_network,ano,changed_network
257,The Alec Baldwin Show,NaN,RENEWED,ABC,2018,True
582,The Gilded Age,starts tbd,RENEWED,NBC,2018,True
684,The Last Kingdom,SEASON 2,RENEWED,NETFLIX,2016,True
911,Black Spot,SEASON 2,RENEWED,NETFLIX,2018,True
1453,Fortitude,SEASON 2,RENEWED,AMAZON,2016,True
1621,There's ... Johnny!,NaN,RENEWED,HULU,2017,True
1642,UnREAL,SEASON 4,RENEWED,HULU,2018,True
1655,High Fidelity,NaN,RENEWED,HULU,2019,True
1676,Veronica Mars,SEASON 4,RENEWED,HULU,2019,True
1878,American Dad!,SEASON 9/10,RENEWED,FOX,2013,True
2085,Big Bounce Battle,starts tbd,RENEWED,FOX,2019,True
2165,You're the Worst,SEASON 2 starts tbd 2015,RENEWED,FX,2014,True
3060,Vice,SEASON 7,RENEWED,SHOWTIME,2019,True
3155,Motive,SEASON 3,RENEWED,USA,2015,True

In [42]:
df_tvstatus[df_tvstatus['name'].str.contains('American Dad!', flags=re.IGNORECASE, regex=True, na=False)]

,name,season,status,tv_network,ano
102,American Dad!,SEASON 9/10,Final season on Fox; moves to TBS in 2014-15,Fox,2013
548,American Dad!,SEASON 11,Renewed for a 12th season on 11/18,TBS,2014
1033,American Dad!,SEASON 11,Renewed for 2 additional seasons on 8/27,TBS,2015
1613,American Dad!,SEASON 12,Previously renewed through S13,TBS,2016
2311,American Dad!,SEASON 13,NaN,TBS,2017
2312,American Dad!,SEASON 14,Renewed through S16 on 1/11/18,TBS,2017
3104,American Dad!,SEASON 15,Previously renewed through S16,TBS,2018
3936,American Dad!,SEASON 15,NaN,TBS,2019

In [43]:
df_tvstatus_popular_cleaning[df_tvstatus_popular_cleaning['name'].str.contains('Anne with an e', flags=re.IGNORECASE, regex=True, na=False)]

,name,season,status,tv_network,ano,changed_network
649,Anne With an E,NaN,RENEWED,NETFLIX,2016,False
724,Anne With an E,SEASON 2 starts tbd 2018,NaN,NETFLIX,2017,False
898,Anne With an E,SEASON 2,RENEWED,NETFLIX,2018,False
1168,Anne With an E,SEASON 3,CANCELED,NETFLIX,2019,False

In [50]:
df_grouped = df_tvstatus_popular_cleaning[['name', 'season', 'status', 'tv_network', 'ano', 'changed_network']].groupby(df_tvstatus_popular_cleaning['name'])

In [53]:
df_grouped.describe()

                                      name         \
                                     count unique
name
#blackAF                                 1      1
$100,000 Pyramid                         5      1
11/22/63                                 2      1
12 Monkeys                               4      1
13 Reasons Why                           3      1
...                                    ...    ...
mixed-ish                                1      1
revisions                                1      1
untitled Halo series (Spielberg)         1      1
untitled Jon Stewart animated series     1      1
Élite                                    3      1

                                                                            \
                                                                       top
name
#blackAF                                                          #blackAF
$100,000 Pyramid                                          $100,000 Pyramid
11/22/63                                                          11/22/63
12 Monkeys                                                      12 Monkeys
13 Reasons Why                                              13 Reasons Why
...                                                                    ...
mixed-ish                                                        mixed-ish
revisions                                                        revisions
untitled Halo series (Spielberg)          untitled Halo series (Spielberg)
untitled Jon Stewart animated series  untitled Jon Stewart animated series
Élite                                                                Élite

                                          season                          \
                                     freq  count unique         top freq
name
#blackAF                                1      0      0         NaN  NaN
$100,000 Pyramid                        5      4      4    SEASON 3    1
11/22/63                                2      1      1  Starts tbd    1
12 Monkeys                              4      3      3    SEASON 3    1
13 Reasons Why                          3      2      2    SEASON 3    1
...                                   ...    ...    ...         ...  ...
mixed-ish                               1      0      0         NaN  NaN
revisions                               1      0      0         NaN  NaN
untitled Halo series (Spielberg)        1      1      1  starts tbd    1
untitled Jon Stewart animated series    1      0      0         NaN  NaN
Élite                                   3      2      2    SEASON 3    1

                                     status         ... tv_network        ano  \
                                      count unique  ...        top freq count
name                                                ...
#blackAF                                  1      1  ...    NETFLIX    1     1
$100,000 Pyramid                          5      2  ...        ABC    5     5
11/22/63                                  0      0  ...       HULU    2     2
12 Monkeys                                4      2  ...       SYFY    4     4
13 Reasons Why                            3      1  ...    NETFLIX    3     3
...                                     ...    ...  ...        ...  ...   ...
mixed-ish                                 1      1  ...        ABC    1     1
revisions                                 1      1  ...    NETFLIX    1     1
untitled Halo series (Spielberg)          1      1  ...   SHOWTIME    1     1
untitled Jon Stewart animated series      1      1  ...        HBO    1     1
Élite                                     3      1  ...    NETFLIX    3     3

                                                       changed_network         \
                                     unique   top freq           count unique
name
#blackAF                                  1  2019    1               1      1
$100,000 Pyramid                          5  2015    1               5      1
11/22/63                                  2  2015    1               2      1
12 Monkeys                                4  2015    1               4      1
13 Reasons Why                            3  2019    1               3      1
...                                     ...   ...  ...             ...    ...
mixed-ish                                 1  2019    1               1      1
revisions                                 1  2018    1               1      1
untitled Halo series (Spielberg)          1  2017    1               1      1
untitled Jon Stewart animated series      1  2016    1               1      1
Élite                                     2  2019    2               3      1


                                        top freq
name
#blackAF                              False    1
$100,000 Pyramid                      False    5
11/22/63                              False    2
12 Monkeys                            False    4
13 Reasons Why                        False    3
...                                     ...  ...
mixed-ish                             False    1
revisions                             False    1
untitled Halo series (Spielberg)      False    1
untitled Jon Stewart animated series  False    1
Élite                                 False    3

[1737 rows x 24 columns]

In [57]:
df_tvstatus_popular_cleaning[df_tvstatus_popular_cleaning['name'].str.contains('12 Monkeys', flags=re.IGNORECASE, regex=True, na=False)]

            name    season   status tv_network   ano  changed_network
2531  12 Monkeys       NaN  RENEWED       SYFY  2014            False
2548  12 Monkeys  SEASON 2  RENEWED       SYFY  2015            False
2560  12 Monkeys  SEASON 3  RENEWED       SYFY  2016            False
2585  12 Monkeys  SEASON 4      END       SYFY  2018            False