In [28]:
import pandas as pd
import kaggle
import re

In [29]:
kaggle.api.authenticate()

In [30]:
# https://www.kaggle.com/oscarfry/tvtime-shows?select=tvtimeshows.csv
kaggle.api.dataset_download_files('oscarfry/tvtime-shows', path='./data/tvtimeshows', unzip = True)

df_tvtime = pd.read_csv('data/tvtimeshows/tvtimeshows.csv')
df_tvtime.head()

,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons
0,288128,X-Ray & Vav,230,10,9,2,Rooster Teeth,4.20,https://dg31sz3gwrwan.cloudfront.net/poster/28...,"[{'number': 1, 'nb_episodes': 4}, {'number': 2..."
1,313803,Sister's Slam Dunk,1298,100,80,2,KBS TV2,4.25,https://dg31sz3gwrwan.cloudfront.net/poster/31...,"[{'number': 1, 'nb_episodes': 33}, {'number': ..."
2,325462,Reverse,270,15,60,1,Tokyo Broadcasting System,4.63,https://dg31sz3gwrwan.cloudfront.net/poster/32...,"[{'number': 1, 'nb_episodes': 10}]"
3,325198,Frame Arms Girl,900,24,25,1,Tokyo MX,3.54,https://dg31sz3gwrwan.cloudfront.net/poster/32...,"[{'number': 1, 'nb_episodes': 12}]"
4,349743,Mr Inbetween,7123,118,25,2,FX,4.42,https://dg31sz3gwrwan.cloudfront.net/poster/34...,"[{'number': 1, 'nb_episodes': 6}, {'number': 2..."

In [31]:
# https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney 
kaggle.api.dataset_download_files('ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney', path='./data/streamings', unzip = True)

df_streamings = pd.read_csv('data/streamings/tv_shows.csv')
df_streamings.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [32]:
# https://www.kaggle.com/unanimad/emmy-awards
kaggle.api.dataset_download_files('unanimad/emmy-awards', path='./data/awards', unzip = True)

df_award_emmy = pd.read_csv('data/awards/the_emmy_awards.csv')
df_award_emmy.head()

,id,year,category,nominee,staff,company,producer,win
0,1,2019,Outstanding Character Voice-Over Performance,The Simpsons,"Hank Azaria, as Moe, Carl, Duffman, Kirk",FOX,Gracie Films in association with 20th Century ...,False
1,2,2019,Outstanding Character Voice-Over Performance,Family Guy,"Alex Borstein, as Lois Griffin, Tricia Takanawa",FOX,20th Century Fox Television,False
2,3,2019,Outstanding Character Voice-Over Performance,When You Wish Upon A Pickle: A Sesame Street S...,"Eric Jacobson, as Bert, Grover, Oscar",HBO,Sesame Street Workshop,False
3,4,2019,Outstanding Character Voice-Over Performance,F Is For Family,"Kevin Michael Richardson, as Rosie",Netflix,Wild West Television in association with Gaumo...,False
4,5,2019,Outstanding Production Design For A Narrative ...,Escape At Dannemora,"Mark Ricker, Production Designer; James Truesd...",Showtime,"Red Hour, Busyhands, The White Mountain Compan...",False

In [33]:
# https://www.kaggle.com/unanimad/golden-globe-awards
kaggle.api.dataset_download_files('unanimad/golden-globe-awards', path='./data/awards' , unzip = True)

df_award_goldenglobe = pd.read_csv('data/awards/golden_globe_awards.csv')
df_award_goldenglobe.head()

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,1944,1,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
4,1943,1944,1,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [34]:
df_tvstatus = pd.read_csv('status/metacritic.csv')
df_tvstatus.head()

,name,season,status,tv_network,ano
0,20/20,SEASON 36,Renewed 5/13,ABC,2013
1,America's Funniest Home Videos,SEASON 24,Renewed 5/9,ABC,2013
2,The Assets,NaN,Canceled 1/10 after 2 eps aired,ABC,2013
3,The Astronaut Wives Club,Starts tbd,Delayed to 2015 for creative reasons,ABC,2013
4,The Bachelor,SEASON 18,Renewed 5/9,ABC,2013

In [37]:
df_tvstatus.describe(include='all')

            name    season      status tv_network          ano
count       4139      2296        3228       4139  4139.000000
unique      2221       201        1904        100          NaN
top     Survivor  SEASON 2  Miniseries    Netflix          NaN
freq          11       734          88        799          NaN
mean         NaN       NaN         NaN        NaN  2016.553999
std          NaN       NaN         NaN        NaN     1.951730
min          NaN       NaN         NaN        NaN  2013.000000
25%          NaN       NaN         NaN        NaN  2015.000000
50%          NaN       NaN         NaN        NaN  2017.000000
75%          NaN       NaN         NaN        NaN  2018.000000
max          NaN       NaN         NaN        NaN  2019.000000

In [38]:
df_tvstatus_gbn = df_tvstatus.groupby('name')
df_tvstatus_gbn.describe(include='all')

                                     season                                    \
                                      count unique         top freq mean  std
name
#blackAF                                  0      0         NaN  NaN  NaN  NaN
$100,000 Pyramid                          4      4    SEASON 3    1  NaN  NaN
100 Code                                  0      0         NaN  NaN  NaN  NaN
11/22/63                                  1      1  Starts tbd    1  NaN  NaN
12 Monkeys                                3      3    SEASON 3    1  NaN  NaN
...                                     ...    ...         ...  ...  ...  ...
mixed-ish                                 0      0         NaN  NaN  NaN  NaN
revisions                                 0      0         NaN  NaN  NaN  NaN
untitled Halo series (Spielberg)          1      1  starts tbd    1  NaN  NaN
untitled Jon Stewart animated series      0      0         NaN  NaN  NaN  NaN
Élite                                     2      2    SEASON 3    1  NaN  NaN

                                                          ...    ano           \
                                      min  25%  50%  75%  ... unique top freq
name                                                      ...
#blackAF                              NaN  NaN  NaN  NaN  ...    NaN NaN  NaN
$100,000 Pyramid                      NaN  NaN  NaN  NaN  ...    NaN NaN  NaN
100 Code                              NaN  NaN  NaN  NaN  ...    NaN NaN  NaN
11/22/63                              NaN  NaN  NaN  NaN  ...    NaN NaN  NaN
12 Monkeys                            NaN  NaN  NaN  NaN  ...    NaN NaN  NaN
...                                   ...  ...  ...  ...  ...    ...  ..  ...
mixed-ish                             NaN  NaN  NaN  NaN  ...    NaN NaN  NaN
revisions                             NaN  NaN  NaN  NaN  ...    NaN NaN  NaN
untitled Halo series (Spielberg)      NaN  NaN  NaN  NaN  ...    NaN NaN  NaN
untitled Jon Stewart animated series  NaN  NaN  NaN  NaN  ...    NaN NaN  NaN
Élite                                 NaN  NaN  NaN  NaN  ...    NaN NaN  NaN

                                                                              \
                                             mean       std     min      25%
name
#blackAF                              2019.000000       NaN  2019.0  2019.00
$100,000 Pyramid                      2017.000000  1.581139  2015.0  2016.00
100 Code                              2017.500000  0.707107  2017.0  2017.25
11/22/63                              2014.500000  0.707107  2014.0  2014.25
12 Monkeys                            2015.750000  1.707825  2014.0  2014.75
...                                           ...       ...     ...      ...
mixed-ish                             2019.000000       NaN  2019.0  2019.00
revisions                             2018.000000       NaN  2018.0  2018.00
untitled Halo series (Spielberg)      2017.000000       NaN  2017.0  2017.00
untitled Jon Stewart animated series  2016.000000       NaN  2016.0  2016.00
Élite                                 2018.666667  0.577350  2018.0  2018.50


                                         50%      75%     max
name
#blackAF                              2019.0  2019.00  2019.0
$100,000 Pyramid                      2017.0  2018.00  2019.0
100 Code                              2017.5  2017.75  2018.0
11/22/63                              2014.5  2014.75  2015.0
12 Monkeys                            2015.5  2016.50  2018.0
...                                      ...      ...     ...
mixed-ish                             2019.0  2019.00  2019.0
revisions                             2018.0  2018.00  2018.0
untitled Halo series (Spielberg)      2017.0  2017.00  2017.0
untitled Jon Stewart animated series  2016.0  2016.00  2016.0
Élite                                 2019.0  2019.00  2019.0

[2221 rows x 44 columns]

In [40]:
df_tvstatus_gbn.head()

,name,season,status,tv_network,ano
0,20/20,SEASON 36,Renewed 5/13,ABC,2013
1,America's Funniest Home Videos,SEASON 24,Renewed 5/9,ABC,2013
2,The Assets,NaN,Canceled 1/10 after 2 eps aired,ABC,2013
3,The Astronaut Wives Club,Starts tbd,Delayed to 2015 for creative reasons,ABC,2013
4,The Bachelor,SEASON 18,Renewed 5/9,ABC,2013
...,...,...,...,...,...
4133,Yellowstone,SEASON 2,S3 renewal on 6/19; S4 renewal on 2/21,PAR,2019
4134,You Me Her,SEASON 5 starts tbd,Network defunct; not sure if/when will air,DIREC,2019
4135,You're Not a Monster,NaN,Animated series,IMDB,2019
4136,Young Dylan,NaN,NaN,NICK,2019
4137,Young Justice: Outsiders,SEASON 2,NaN,DCU,2019

In [42]:
df_tvstatus

,name,season,status,tv_network,ano
0,20/20,SEASON 36,Renewed 5/13,ABC,2013
1,America's Funniest Home Videos,SEASON 24,Renewed 5/9,ABC,2013
2,The Assets,NaN,Canceled 1/10 after 2 eps aired,ABC,2013
3,The Astronaut Wives Club,Starts tbd,Delayed to 2015 for creative reasons,ABC,2013
4,The Bachelor,SEASON 18,Renewed 5/9,ABC,2013
...,...,...,...,...,...
4134,You Me Her,SEASON 5 starts tbd,Network defunct; not sure if/when will air,DIREC,2019
4135,You're Not a Monster,NaN,Animated series,IMDB,2019
4136,Young Dylan,NaN,NaN,NICK,2019
4137,Young Justice: Outsiders,SEASON 2,NaN,DCU,2019
4138,Younger,SEASON 6,Renewed for a 7th season on 7/24,TVL,2019